@import "~@angular/material/prebuilt-themes/azure-blue.css";
body {
  margin: 0;
}

:root {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
